<div class="modal fade" id="modalv" tabindex="-1" role="dialog" aria-labelledby="Volume">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body row">
				
			</div>
			<button type="button" class="btn btn-primary" disabled>Рассчитать</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:20px;">Отмена</button>
		</div>
	</div>
</div>