<div class="modal fade" id="modalv_table" tabindex="-1" role="dialog" aria-labelledby="Volume">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body row">
				
			</div>
			<button type="button" class="btn btn-primary">Рассчитать</button>
		</div>
	</div>
</div>