$('.table-button').hide().after("<%= j render 'form' %>");

$(document).ready(function(){
    // Include helper file
    var imported = document.createElement('calculating_helper.js');
    imported.src = '/assets/javascripts';
    document.head.appendChild(imported);
   
    $.ajax({
    	url: '/deliveries/',
		type: 'GET',
		dataType: 'json',
		success: function(data) {
			formCalculation(data);
		}
	});

    $('#table_specification_product_id').bind('click focus blur keyup', function(){ 
        $('#table_specification_product_id').bind('railsAutocomplete.select', function(event, data){
            var factory_id = data.item.factory_id;
            var type_furniture_id = data.item.type_furniture_id;
            var article = data.item.label;

            getFactory(factory_id);

            getTypeFurniture(type_furniture_id);
            
            // draw image photos
            getImage(data.item.id, article, 'photos', 'Photo');
        
            // draw image size_images
            getImage(data.item.id, article, 'size_images', 'SizeImage');
        });

    });

    function getImage(id, article, catalog, catalog_img) {
        $.ajax({
            type: "GET",
            url: "/products/"+id+"/"+catalog+"/",

            dataType: "JSON",
            success: function(data) {
                var current_image;
                current_image = '<select id="current_image_'+catalog+'">'
                if (data.length != 0) {
                    for(var p in data) {
                        current_image += '<option article="'+article+'" img_path="'+data[p].img_url+' "img_id="'+data[p].id+'">'+p+'</option>'
                    }
                } else {
                    image = '';
                }

            current_image += '</select>'
            $("#"+catalog).html(current_image)

            }
        });
    }

    function getTypeFurniture(id) {
        $.ajax({
            type: "GET",
            url: "/type_furnitures/"+id,
            dataType: "JSON",
            success: function(data) {
                var type_furniture = data.name;
                $("#type_furniture").html(type_furniture); 
            }
        });
    };

    function getFactory(id) {
        $.ajax({
            type: "GET",
            url: "/factories/brand",
            dataType: "JSON",
            success: function(data) {
                id = id - 1;
                var brand = data[id].brand                

                var additional_discount = [];
                additional_discount[0] = data[id].additional_discount;
                if (additional_discount[0] == null) {additional_discount[0] = 0};

                var percents = data[id].discount;
                // console.log(percents)          
                var array_discount = getArrayDiscounts(percents);
                percent_with_id = getFactoryOptions(array_discount, percents);

                $("#brand").html(brand); 
                $("#discount").html(percent_with_id[0]);
                $("#additional_discount").html(getFactoryOptions(additional_discount, percents)); 

            }
        });
    }

	function formCalculation(data) {
	    var delivery = {};
	    var deliv = getDelivery(data);

        // Add view images photo and size_image
        $('#photos').bind('click focus blur keyup', function(){
            var article = $("#photos select option:selected").attr("article");
            var img_id = $("#photos select option:selected").attr("img_id");
            var img_path = $("#photos select option:selected").attr("img_path");
            var photo_src = '';
            var img_file_name = $('#photos select').val();
            photo_src += '<img src="'+img_path+'">'
            console.log(img_id)
            $('#current_img').html(photo_src);
            
            // Add hide size_image_id
            $('input[name="table_specification[photo_id]"]').val(img_id);
        });
        $('#size_images').bind('click focus blur keyup', function(){
            var article = $("#size_images select option:selected").attr("article");
            var img_id = $("#size_images select option:selected").attr("img_id");
            var img_path = $("#size_images select option:selected").attr("img_path");
            console.log(img_path)
            var photo_src = '';
            var img_file_name = $('#size_images select').val();
            photo_src += '<img src="'+img_path+'">'
            console.log(img_id)
            $('#current_size_img').html(photo_src)

            // Add hide size_image_id
            $('input[name="table_specification[size_image_id]"]').val(img_id);
        });
        //Get delivery properties


        var group_bool = false;

       // Get all product
        // $.ajax({
        //     type: "GET",
        //     url: "./table_specifications/",
        //     dataType: "JSON",
        //     success: function(data) {
        //         selectionGroup(data)
        //     }
        // });
        
        // Group calculating
        // function selectionGroup(data) {
        //     var groups_arr = [];
        //     var current_group_arr = [];
        //     var current_group = 0;
        //     for(var p in data) {
        //         groups_arr.push(data[p].group);
        //     }
            
        //     current_group_arr = groups_arr.uniq();
        //     console.log(current_group_arr)
        //     $('#table_specification_group').bind('click focus blur keyup', function(){
        //         current_group = $("#table_specification_group").val()
        //         group_bool = in_array(current_group, current_group_arr)
        //         console.log(group_bool)
        //     });
        // }

        $('form').bind('click focus blur keyup', function(){
            var cost = 0;
            var execution_document = 0;
            var check_factory = 0;
            var bank_service = 0;
            var bank_percent = 0;

            var delivery_text = $('#table_specification_delivery_id option:selected').text()
            delivery = getDelivery(data, delivery_text);
    	    // console.log(delivery)
            // Calculate size
	        var width = parseFloat($("#table_specification_width").val());
		    var height = parseFloat($("#table_specification_height").val());
		    var depth = parseFloat($("#table_specification_depth").val());
		    var percent_v = parseInt($("#table_specification_percent_v").val());
		    var unitV = parseFloat($("#table_specification_unit_v").val() || $("#unit_v").text());

		    ckeckSize(width, height, depth, percent_v);
            // console.log(group_bool)
            if(group_bool != true){
                //Get delivery properties
                cost = delivery.cost;
                execution_document = delivery.execution_document;
                check_factory = delivery.check_factory;
                bank_service = delivery.bank_service;
                bank_percent = delivery.bank_percent;
                // console.log(cost)
            } else {
                cost = 0;
                execution_document = 0;
                check_factory = 0;
                bank_service = 0;
                bank_percent = 0;
                // console.log(cost)
            }
            // console.log(delivery.execution_document)
	        // var factory_id = ($("#table_specification_factory_brand"))
            var upf = parseFloat($("#table_specification_unit_price_factory").val());
	        var discount_values = parseInt($("#discount option:selected").val() || $("#default_discount").text());  
	        var discount_id = parseInt($("#discount option:selected").attr("discount_id") || $("#default_discount").attr("discount_id"));
            setId(discount_id)

            var additional_discount = parseInt($("#additional_discount" ).text());
	        var increment_discount = parseInt($("#table_specification_increment_discount" ).val());
	        var number_of = parseInt($("#table_specification_number_of").val());
	        var interest_percent = parseFloat($("#table_specification_interest_percent").val());
	        var arhitec_percent = parseInt($("#table_specification_arhitec_percent").val());
	        var additional_deliver = parseInt($("#table_specification_additional_delivery").val());

	        var unit_price_factory = unitPriceNetto(discount_values, upf, additional_discount, increment_discount);
	        var summa_netto = multiplication(unit_price_factory, number_of);
	        var v_sum = multiplication(unitV, number_of);
	        var price_at_nil = calculatePercentBankDelivery(summa_netto, cost, execution_document, check_factory,  bank_service, bank_percent, v_sum, additional_deliver);
	        price_at_nil = NanOrNoNan(price_at_nil);
	        var with_interest = ourInterest(price_at_nil, interest_percent);
	        var factor = devision(with_interest, summa_netto);
	        var unit_price = multiplication(factor, unit_price_factory);
	        var summa = multiplication(factor, summa_netto);
	        var interest = minus(with_interest, price_at_nil);
            var architector = calculatePercentMinus(interest, arhitec_percent);
            var architector_percent = architectorPercent(with_interest, architector);
            

	        $('#unit_price_netto').html(unit_price_factory.toFixed(2));
	        $('#sn').html(summa_netto.toFixed(2));
	        $('#sv').html(v_sum.toFixed(2));
	        $('#at_nil').html(price_at_nil);
	        $('#with_interest').html(with_interest);
	        $('#factor').html(factor.toFixed(2));
	        $('#up').html(unit_price.toFixed(2));
	        $('#summ').html(summa.toFixed(2));
            $('#interest').html(interest.toFixed(2));
            $('#architector').html(architector.toFixed(2));
            $('#architector_percent').html(architector_percent.toFixed(2));
    
	    });
	}
       
    function setId(id) {
        $('input[name="table_specification[discount_id]"]').val(id);
    }

    function getArrayDiscounts(discounts) {
        var array_percents = [];
        var array_discount_id = [];
        var array_discount_id_percent = [];
        
        for (var i = 0; i < discounts.length; i++) { 
            array_percents[i] = discounts[i].percent
            array_discount_id[i] = discounts[i].id
            // array_discount_id_percent[i] = array_discount_id[i]+'/'+array_percents[i]
        };
        return array_percents
    }

    // Render select option 
    function getFactoryOptions(arrFactories, percents) {
        var resultHtml = "";
        var id;
        var results_with_id = []
        if (typeof arrFactories != 'undefined') {
            if (isNaN(arrFactories[0])) {
                return 0;
            }
            if (arrFactories.length == 1 ) {

                resultHtml = "<span id='default_discount' discount_id='"+percents[0].id+"'>"+arrFactories[0]+"</span>";
            } else {
                resultHtml += '<select id="discount">'
                
                for (var i = 0; i < arrFactories.length; i++) {
                    resultHtml += "<option discount_id='"+percents[i].id+"' value='" + arrFactories[i] + "'>" + arrFactories[i] + "</option>";
                };
                var discount = arrFactories[0];
                id = percents[0].id;

                resultHtml += '</select>'
            };
        };
        results_with_id.push(resultHtml, id)
    
        return results_with_id;
    }

    $("form").submit(function() {
    
        if ($('#product_id').val() != "") {
            $('#err_article').html('')
        } else {
            $('#err_article').html('error')
        }
    });
   
});

