<div class="modal fade" id="modalfactory_table" tabindex="-1" role="dialog" aria-labelledby="Factory Discount">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body row" >
      		
      </div>
      <button type="button" class="btn btn-primary">Применить</button>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:20px;">Отмена</button>
    </div>
  </div>
</div>