<div class="col-sm-4">
	<div class="name">Скидка фабрики %</div>
	<% if @discounts.length  <= 1 %>
		<%= @discounts.first.percent %>
	<% else %>
		<%= select("post", "factory_id", @discounts.collect {|p| [ p.percent, p.id ] },{ include_blank: false }) %>
	<% end %> 
</div>
<div class="col-sm-4">
	<div class="name">Дополнительная скидка %</div>
	<div class="value"><%= @factory.additional_discount %></div>
</div>
<div class="col-sm-4">
	<div class="field">
			Добавить к прайсу <br>
			<%= number_field_tag :increment_discount_modal, 33 %>
	</div>
</div>