<div class="modal fade" id="modalsize" tabindex="-1" role="dialog" aria-labelledby="Size">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="modal-size-image"></div>
      	<div class="addpict"></div>
      	<button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:20px;">Отмена</button>
      </div>
    </div>
  </div>
</div>