<div class="modal fade" id="modalsize" tabindex="-1" role="dialog" aria-labelledby="Size">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="modal-size-image"></div>
      	<div class="addpict"></div>
      </div>
    </div>
  </div>
</div>