<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specification.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @specification.style %>
</p>

<%= link_to 'Back', project_specifications_path %>
