<tr id="style_<%= style.id %>">
	<td><%= style.name %></td>
	<td><%= link_to 'Edit', edit_style_path(style), remote: true, :class => 'btn btn-sm btn-info'  %></td>
	<td><%= link_to 'Delete', style, remote: true, :method => :delete, data: {confirm: "Delete Customer: #{style.name}"}, :class => 'btn btn-sm btn-danger' %>
 </td>
</tr>