<%= javascript_include_tag "projects/show" %>
<div class="container">
	<%= render 'specifications/index_show' %>
</div>
<div class="project_id" name="project_id" id="<%= @project.id %>"><%= @project.id %></div>
