<%= form_for(@type_furniture, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, :class => "control-label" %><br>
        <%= f.text_field :name, :class => "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit  @type_furniture.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
