<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_furniture.name %>
</p>

<%= link_to 'Edit', edit_type_furniture_path(@type_furniture) %> |
<%= link_to 'Back', type_furnitures_path %>
