<div class="modal fade" id="modaldelivery" tabindex="-1" role="dialog" aria-labelledby="Delivery">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body row">

			</div>
			<button type="button" class="btn btn-primary">Добавить</button>
		</div>
	</div>
</div>