<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
      <%= image_tag photo.img.url %>       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

