<div id="webtable">
  <table width="100%" id="table_specification">
    <tr>
      <th class="photo">Изображение</th>
      <th class="factory">Фабрика</th>
      <th class="model">Модель</th>
      <th class="article">Артикул</th>
      <th class="finishing_for_client">Отделка</th>
      <th class="type_furniture">Описание</th>
      <th class="size">Размер</th>
      <th class="unit_price_factory">Цена фаб-ки</th>
      <th class="factory-sum">Сумма фаб-ки</th>
      <th class="number_of">Кол-во</th>
      <th class="interest">Интерес</th>
      <th class="full_price">Цена, &euro;</th>
      <th class="full_sum">Сумма, &euro;</th>
      <th class="architector">Архитектор</th>
    </tr>
  </table>
</div>