<%= form_for(@city, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
      <%= f.label t('cities.name') %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit  @city.new_record? ? t('create') : t('update'), :class => "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
