<div class="header">
	<div class="logo"><span id="dizaap">DIZAAP </span><br>
	<span id="upgrade">UPGRADE THE WORLD</span>
	</div>
	<div class="specification_id">
		<span id="specification_id">#<%= @specification.id %></span> <br>
		<span id="data_manager"><%= @user.name %> | <%= @user.email %> | <%= @user.telephone %></span>
	</div>
</div>